<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new</title>
</head>
<body>
    <h1>my flask application</h1>
    <form action="/" method="post">
        <label>Enter the height</label><br>
        <input type="number" name="height" placeholder="Enter Your Height">
        <input type="submit">
    </form>
    <h1>entered the height value is {{hei}} </h1>
    <h1>predicted height value is {{wei}} </h1>
</body>
</html>